<html>
<head>
<meta>
<meta name="author" content="Petra Jakopovic">
<meta name="keywords" content="font,tipografija">
<meta name="description" content="inicijalna vjezba,Web projekti 3.w">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Naslovna</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<link rel="stylesheet" type="text/css" href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/monitor.css">


<div id="logo"></div>
<div id="menu">
<table>
 <tr>
  <td> Naslovna <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/naslovna.html"></a> </td>
<td>Tipovi fonta <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/tipovi.html"></a></td>
<td> Formati fontova <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/formati.html"></a> </td>
<td> Web safe fontovi <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/web.html"></a></td>
<td> CSS fontovi <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/cssfontovi.html"></a> </td>
<td> Kontakt <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/kontakt.html"></a></td>
<td> Literatura <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/literatura.html"></a> </td>
 </tr>
</table>
</div>

<div id="sadrzaj"> 
<h1>Formati fontova</h1>

<h2>Type 1 i Type 3 Fontovi</h2>
<p>Type 1 iType 3 fontovi su razvijeni od korporacije Adobe za uporabu u profesionalnoj tipografiji, upotrebljavajući PostScript jezik, znakovnici i obrisni fontovi opisani su sa kubičnom Bézierova krivulja. Type 1 fontovi su ograničeni podskupom PostScript jezika i koriste Adobeov sustav nagađanja, koji je vrlo skup. Type 3 fontovi dozvoljavaju neograničenu uporabu PostScript jezika, ali nemaju nikakve informacije o nagađanju, što može dovesti do vidljivih slabosti kod icrtavanja na slabo razlučivim uređajima poput računalnih zaslona i matričnih pisača.</p>

<h2>TrueType fontovi</h2>
<p>TrueType je sustav fontova izvorno razvijen od kompanije Apple Computer. Namjera je bila da zamijeni Type 1 fontove , za koje su mnogi držali da su preskupi. Za razliku od Type 1 fontova, TrueType znakovnici, opisani su kvadratičnim Bézierovim krivuljama. Trenutno su vrlo popularni i njihova uporaba postoji na svim većim operacijskim sustavima.
</p>
<h2>OpenType fontovi</h2>
<p>OpenType je pametni font sustav oblikovan od strane kompanija; Adobe i Microsoft. OpenType fontovi imaju obris ili TrueType ili Type 1 (momentalno CFF) format zajedno sa velikom količinom metapodataka (metadata).</p>

<h2>Metafont</h2>
<p>Metafont upotrebljava različitu vrst za opis znakovnika (glyph). Poput TrueType, to je vektorski opisni font sustav. On iscrtava znakovnike ( glyphs) koristeći linije koje seli poligonalno ili eliptično pero približno po poligonu, stazu napravi približno po poligonu znakovnika od kubnih Bézierovih krivulja i ravna dijelove linija i puni takve staze. Iako se iscrtavanje linije uz stazu znakovnika zapravo nikad ne generira, ova metoda ne uzrokuje gubitak točnosti i razlučivosti. 


</p>



</div>
<div id="dno">
<p align="center"> &copy;Petra Jakopovic,2016. </div>

</body>
</html>
