<html>
<head>
<meta>
<meta name="author" content="Petra Jakopovic">
<meta name="keywords" content="font,tipografija">
<meta name="description" content="inicijalna vjezba,Web projekti 3.w">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Naslovna</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<link rel="stylesheet" type="text/css" href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/monitor.css">


<div id="logo"></div>
<div id="menu">
<table>
 <tr>
  <td> Naslovna <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/naslovna.html"></a> </td>
<td>Tipovi fonta <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/tipovi.html"></a></td>
<td> Formati fontova <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/formati.html"></a> </td>
<td> Web safe fontovi <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/web.html"></a></td>
<td> CSS fontovi <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/cssfontovi.html"></a> </td>
<td> Kontakt <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/kontakt.html"></a></td>
<td> Literatura <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/literatura.html"></a> </td>
 </tr>
</table>
</div>

<div id="sadrzaj"> 

<h1>Literatura</h1>
<ul>
<li> <a href="http://hr.wikipedia.org/wiki/Pismo"></a></li>
<li> <a href="http://hr.wikipedia.org/wiki/Font"></a></li>
<li> <a href="http://www.fonts2u.com/glagoljica-ugl-staro-hrvatsko-pismo.font"></a></li>
<li><a href="http://www.1001fonts.com/"></a></li>
<li><a href="http://www.w3schools.com/tags/tag_font.asp"</a></li>
</ul>

</div>
<div id="dno">
<p align="center"> &copy;Petra Jakopovic,2016. </div>

</body>
</html>
