<html>
<head>
<meta>
<meta name="author" content="Petra Jakopovic">
<meta name="keywords" content="font,tipografija">
<meta name="description" content="inicijalna vjezba,Web projekti 3.w">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Naslovna</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<link rel="stylesheet" type="text/css" href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/monitor.css">


<div id="logo"></div>
<div id="menu">
<table>
 <tr>
  <td> Naslovna <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/naslovna.html"></a> </td>
<td>Tipovi fonta <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/tipovi.html"></a></td>
<td> Formati fontova <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/formati.html"></a> </td>
<td> Web safe fontovi <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/web.html"></a></td>
<td> CSS fontovi <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/cssfontovi.html"></a> </td>
<td> Kontakt <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/kontakt.html"></a></td>
<td> Literatura <a href="file:///C|/Users/računalo5/Desktop/Fontovi_PJ/Templates/literatura.html"></a> </td>
 </tr>
</table>
</div>

<div id="sadrzaj"> 

<h1>Web safe fontovi</h1>
<p>Ovdje je navedena lista fontova koji se koriste pri izradi internet stranica. Websafe fontovi su fontovi koji dolaze sa svim operativnim sustavima kao što su Windows, Mac, Linux itd… Ukoliko želite da svi korisnici vide vašu stranicu onako kako je i dizajnirana najbolje je da koristite dolje navedene fontove. Te fontove definiramo u css datoteki pomoću font-family. Definira se na način da prvo upišemo naziv fonta, pa onda naziv sekundarnog fonta… Isto tako svaki od navedenih fontova dolazi s CSS generičkom skupinom fontova kao što je serif i sans-serif skupina fontova i koristi se ukoliko na računalu posjetitelja nija pronađen niti primarni niti sekundarni font. Websafe fontovi koje možete jednostavno prekopirati u Vašu css datoteku:</p>

<ul>
<li>font-family: Arial, Helvetica, sans-serif;</li>
<li>font-family: 'Arial Black', Gadget, sans-serif;</li>
<li>font-family: 'Bookman Old Style', serif;</li>
<li>font-family: 'Comic Sans MS', cursive;</li>
<li>font-family: Courier, monospace;</li>

<li>font-family: 'Courier New', Courier, monospace;</li>

<li>font-family: Garamond, serif;</li>

<li>font-family: Georgia, serif;</li>

<li>font-family: Impact, Charcoal, sans-serif;</li>

<li>font-family: 'Lucida Console', Monaco, monospace;</li>

<li>font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;</li>

<li>font-family: 'MS Sans Serif', Geneva, sans-serif;</li>

<li>font-family: 'MS Serif', 'New York', sans-serif;</li>

<li>font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;</li>

<li>font-family: Symbol, sans-serif;</li>

<li>font-family: Tahoma, Geneva, sans-serif;</li>

<li>font-family: 'Times New Roman', Times, serif;</li>

<li>font-family: 'Trebuchet MS', Helvetica, sans-serif;</li>

<li>font-family: Verdana, Geneva, sans-serif;</li>

<li>font-family: Webdings, sans-serif;</li>

<li>font-family: Wingdings, 'Zapf Dingbats', sans-serif;</li>






</div>
<div id="dno">
<p align="center"> &copy;Petra Jakopovic,2016. </div>

</body>
</html>
