html, body {
    margin: 0px;
    padding:0px;
    background-color:#BDBDBD;
}
nav {
    background-color:#212121;
    height:50px;
    text-align: center;
    padding-right:50px;
    position:fixed;
    width: 100%;
}
nav a {
    text-decoration:none;
    color: white;
    font-family: Comic MS;
    font-size: 30px;
    display: inline-block;
    height: 50px;
    line-height:50px;
    padding: 0 1%;
} 
nav a:hover{
    background-color:#424242;
}

#sadrzaj{
    display: block;
    height: auto;
    width:80%;
    background-color:#9E9E9E;
    margin:0 auto;
    padding: 5px;
}

img {
    max-width: 100%;
    display: block;
}

.slike {
    padding: 2px;
}
.slike1 {
    padding: 2px;
    position:center;
}
.dno {
    height:70px;
    line-height:55px;
    text-align:center;
    color:#ffffff;
    width=100%;
    background-color:#212121;
}
h1{
    text-align:center;
}
p{
    padding:5px;
    font-size:20px;
}
ul{
    font-size:18px;
}
h11{
    color:white;
    font-size:25px;
    text-align:center;
}
h6{
    color: dimgray;
    font-size:25px;
    text-align:center:
}
//**cursor:pointer;**//


//***kontakt***/
.box_obrazac {
    margin: 0 auto;
    width:35%;
    background-color: dimgray;
    padding: 10px;    
}


button {
    color: white;
    background-color: dimgray;
    font-size: 16px;
    padding: 1% 5%;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    align-self: center;
}

.obrazac {
    background-color: white;
    border: none;
    padding: 1%;
    width: 45%;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.obrazac:hover {
    box-shadow: 5px 3px 10px 0 white;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 5px 10px 0 white;
    transition: 0.3s;
}  



.row-padding {   display: block;
                 height: auto;
                 width:100%;
                 background-color:#26262d;
                 margin:0 auto;
                 padding: 5px;
             }
.first {
    display: block;
    height: auto;
    width: 30%;
    background-color:dimgray;
    margin:0 auto;
    padding: 5px;  
}
.second {
    display: block;
    height: auto;
    width: 30%;
    background-color: #8f9093;
    margin:0 auto;
    padding: 5px;
    
}
.third {
    display: block;
    height: auto;
    width: 30%;
    background-color:dimgray;
    margin:0 auto;
    padding: 5px;
    
}
ul.tag li  {
  display: inline-block;
  list-style: none;
    margin: 12px 0px 11px 0px;
}
ul.tag li a {
    padding:8px 10px;
    background: dimgray;
    color: #A1A3AB;
    font-size: 0.9em;
}
ul.tag li a:hover {
  text-decoration: none;
  opacity: 0.7;
}